Tests/PerformaceTesting/Framework/PIC.Portal.ServicesProvider/Service References/BpmService/BpmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
</xs:schema>