Tests/PerformaceTesting/Framework/PIC.Portal.ServicesProvider/Service References/BpmService/BpmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BpmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37526/BpmService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37526/BpmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37526/BpmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PIC" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBpmService_RunService_InputMessage">
    <wsdl:part name="parameters" element="tns:RunService" />
  </wsdl:message>
  <wsdl:message name="IBpmService_RunService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IBpmService_ExecCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecCommand" />
  </wsdl:message>
  <wsdl:message name="IBpmService_ExecCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="IBpmService">
    <wsdl:operation name="RunService">
      <wsdl:input wsaw:Action="http://tempuri.org/IBpmService/RunService" message="tns:IBpmService_RunService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBpmService/RunServiceResponse" message="tns:IBpmService_RunService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBpmService/ExecCommand" message="tns:IBpmService_ExecCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBpmService/ExecCommandResponse" message="tns:IBpmService_ExecCommand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBpmService" type="tns:IBpmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunService">
      <soap:operation soapAction="http://tempuri.org/IBpmService/RunService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecCommand">
      <soap:operation soapAction="http://tempuri.org/IBpmService/ExecCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BpmService">
    <wsdl:port name="BasicHttpBinding_IBpmService" binding="tns:BasicHttpBinding_IBpmService">
      <soap:address location="http://localhost:37526/BpmService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>