Framework/PIC.Portal.ServicesProvider/Service References/BpmService/BpmService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37526/BpmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PIC" />
  <xs:element name="RunService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opReq" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PIC" minOccurs="0" name="RunServiceResult" nillable="true" type="q1:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opReq" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PIC" minOccurs="0" name="ExecCommandResult" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>